.searchBox {
    background: white;
    height: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.searchBox-open {
    border: 1px solid #105DFB;
}

.searchBox-open>.searchInput {
    width: 250px;
    padding-left: 5px;
}

.searchBox-open>.searchButton {
    background: white;
    color: #FFF;
}

.searchButton {
    display: flex;
    width: 36px;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    cursor: pointer;
    outline: none;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
    transition: width 0.4s, padding 0.4s;
    width: 0;
    padding: 0;
}

.positionSearchResult {
    position: relative;
    top: 8px;
}

.searchResults {
    position: absolute;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 24px 48px -8px #18181C1C;
    box-shadow: 0px 48px 64px -36px #18181C21;
    width: 100%;
}

.resultItem {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.resultText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
}

.filename {
    color: var(--text-color);
}

.filedata {
    font-size: small;
    color: #8D9CAD;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}