<div class="sidebar">
    <div class="sidebar-header">
      <img src="logo.svg" class="logo">
    </div>
    <hr>
    <nav class="sidebar-nav">
      <ul>
        <li><a routerLink="/accueil">Accueil</a></li>
        <li>
          <a routerLink="/librairie">Librairie</a>
          <ul>
            <li><a routerLink="/librairie/web">Web</a></li>
            <li><a routerLink="/librairie/images">Images</a></li>
            <li><a routerLink="/librairie/videos">Vidéos</a></li>
            <li><a routerLink="/librairie/pictos">Pictos</a></li>
            <li><a routerLink="/librairie/documents">Documents</a></li>
          </ul>
        </li>
        <li><a routerLink="/gestion/utilisateurs">Utilisateurs</a></li>
        <li><a routerLink="/gestion/roles">Rôles</a></li>
      </ul>
    </nav>
  </div>
  