.dashboard {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    font-size: 25px;
    margin: 0px;
    margin-left: 10px;
}

p {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
    color: #8D9CAD;
}

.chart-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.donut-chart {
    width: 100%;
    height: 100%;
}

.donut-hole {
    fill: #fff;
}

.donut-segment {
    fill: transparent;
    stroke-width: 8px;
}

.color-planned {
    stroke: #CBC0FE;
}

.color-published {
    stroke: #BAE5C8;
}

.color-pending {
    stroke: #FFDB9E;
}

.color-unpublished {
    stroke: #FDBA8C;
}

.color-archived {
    stroke: #CBCBCB;
}

.color-error {
    stroke: #F1ABAB;
}

.status-list {
    display: grid;
    gap: 10px;
    column-gap: 30px;
    grid-template-columns: 2fr 3fr;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px;
    color: var(--text-color);
}

.item {
    display: flex;
    align-items: center;
}

.itemdot {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.item-text {
    display: flex;
    width: 100%;
    .spacer {
        flex-grow: 1;
    }
}

.color-planned-dot {
    fill: #CBC0FE;
}

.color-published-dot {
    fill: #BAE5C8;
}

.color-pending-dot {
    fill: #FFDB9E;
}

.color-unpublished-dot {
    fill: #FDBA8C;
}

.color-archived-dot {
    fill: #CBCBCB;
}

.color-error-dot {
    fill: #F1ABAB;
}