.snackbar {
  visibility: hidden;

  position: fixed;
  top: 10px;
  right: 10px;

  padding: 10px 10px;

  min-width: 20%;

  background: #d81a1a;

  text-align: center;
  color: white;
}

.snackbar.show {
  visibility: visible;
  opacity: 1;
}
