<div class="pagination">
  <button class="white" [disabled]="page === 1" (click)="previousPage()">
    &#8249;
  </button>

  @if (page > 4 && totalPages > 7) {
    <button class="white" (click)="goToPage(1)">1</button>
    <span>...</span>
  }

  @for (p of pages; track $index) {
    <button
      class="white"
      [class.active]="p === page"
      (click)="goToPage(p)"
    >
      {{ p }}
    </button>
  }

  @if (totalPages > 7 && page < totalPages - 3) {
    <span>...</span>
    <button class="white" (click)="goToPage(totalPages)">
      {{ totalPages }}
    </button>
  }

  <button
    class="white"
    [disabled]="page === totalPages"
    (click)="nextPage()"
  >
    &#8250;
  </button>
</div>
