.window {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 12px;
  padding: 30px;
  max-height: 360px;
  max-width: fit-content;
  background-color: white;
}

.scroll {
  overflow-y: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  color: #1c1c1c;
  font-size: medium;
}

td {
  border-top: 1px solid #ddd;
}

th {
  height: 30px;
  font-size: small;
  color: #757575;
  text-align: left;
  font-weight: 400;
}

img {
  width: 30px;
  height: 30px;
}

.loading {
  width: 48px;
  height: 48px;
  border: 5px solid #1c1c1c;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
