button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  border-width: 0;
  user-select: none;
  box-shadow: 0px 1px 2px 0px #18181C0F;
  box-shadow: 0px 4px 4px -4px #18181C05;
}

button.blue {
  /* Bleu électrique */
  background: var(--primary);
  color: white;
}

button.blue:hover {
  background: var(--primary);
  box-shadow: 1px 1px var(--primary-accent);
}

button.blue:active {
  background: var(--primary-accent);
}

button.dark {
  /* Bleu électrique */
  background: #404040;
  color: white;
}

button.dark:hover {
  background: #5a5c60;
  box-shadow: 1px 1px #404040;
}

button.dark:active {
  background: #404040;
}

button.white {
  background: white;
  color: var(--text-color);
}

button.white:hover {
  background: var(--secondary);
  box-shadow: 1px 1px var(--secondary-accent);
}

button.white:active {
  background: var(--secondary-accent);
}

button.clearblue {
  background: var(--secondary);
  color: var(--text-color);
}

button.clearblue:hover {
  background: white;
  box-shadow: 1px 1px gray;
}

button.clearblue:active {
  background: gray;
}