<div class="pagination">
    <button class="white" [disabled]="currentPage === 1" (click)="previousPage()">&#8249;</button>
    
    @if (currentPage > totalPages - 3) {
        <button class="white" (click)="goToPage(1)">
            1
        </button>
        <span>...</span>
    }

    @for (page of pages; track $index) {
        <button class="white" [class.active]="page === currentPage" (click)="goToPage(page)">
            {{ page }}
        </button>
    }
    
    @if (totalPages > 7 && currentPage < totalPages - 2) {
        <span>...</span>

        <button class="white" (click)="goToPage(totalPages)">
            {{ totalPages }}
        </button>
    }

    <button class="white"  [disabled]="currentPage === totalPages" (click)="nextPage()">&#8250;</button>
</div>