.tree {
    width: 100%;
}

.line {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
}

cdk-tree-node {
    display: flex;
    align-items: center;
}

.folder {
    background-color: #105DFB;
    color: white;
}

.subfolder {
    background-color: white;
    color: #105DFB;
    border-bottom: #ECEFF1 1px solid;
}

.leaf {
    background-color: white;
    color: #0B2866;
    border-bottom: #ECEFF1 1px solid;
}

.toggle {
    margin: 15px;
    margin-left: auto;
    margin-right: 30px;
}