<div class="sidebar">
  <div class="sidebar-header">
    <img src="logo.svg" class="logo">
  </div>
  <div class="sidebar-nav">
    <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding
        [style.display]="shouldRender(node) ? 'flex' : 'none'" [class]="getClass(node)">
        <img [src]="getLogoPath(node)">
        <a (click)="selectNode(node)">{{node.name}}</a>
      </cdk-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
        [style.display]="shouldRender(node) ? 'flex' : 'none'" [class]="getClass(node)">
        <img [src]="getArrowPath(node)">
        <img [src]="getLogoPath(node)">
        <a (click)="selectNode(node)">{{node.name}}</a>
      </cdk-tree-node>
    </cdk-tree>
  </div>
</div>