.sidebar {
  display: grid;
  grid-template-rows: 1fr 100fr;
  width: 250px;
  height: 100vh;
  background-color: #FFF;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #e9ecef;
}

.sidebar-nav {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #0b2866 #f8f9fa;
}

.no-parent {
  padding-left: 26px !important;
}

.expandable,
.leaf {
  display: flex;
  align-items: center;
  justify-content: start;
  border: none;
  border-radius: 5px;
  background-color: none;
  color: #8d9cad;
  margin: 10px;

  img {
    padding: 5px;
  }

  user-select: none;
}

.selected {
  border-left: #105dfb 4px solid;
  background-color: #ebf1fd;
  color: #0b2866;
}

.title {
  display: flex;
  color: var(--text-color);
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 16px !important;

  p {
    margin: 0;
    padding-left: 12px;
  }
}

.usercard {
  border-top: 1px solid #e9ecef;
}
