.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #e9ecef;
}

.node {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: none;
  color: #8D9CAD;
  margin: 10px;

  img {
    padding: 5px;
  }

}

.selected {
  border-left: #105DFB 4px solid;
  background-color: #EBF1FD;
  color: #0B2866;
} 