<div class="header">
    <h1>Title ...</h1>
    <app-icon-text-button title="Importer un fichier" icon="upload" (click)="isDialogOpen = true"></app-icon-text-button>
</div>

@if (isDialogOpen) {
    <app-upload-dialog (closeDialog)="isDialogOpen = false" (fileSelected)="upload($event)"></app-upload-dialog>
}

<div class="header">
    <h2>{{viewtitle}}</h2>
    <div class="action-buttons">
        <app-icon-button color='white' icon="update"></app-icon-button>
        <app-icon-button color='white' icon="checkbox"></app-icon-button>
        <app-icon-button [color]="(gridlayout)?'clearblue':'white'" icon="card" (click)="onGridClicked()"></app-icon-button>
        <app-icon-button [color]="(gridlayout)?'white':'clearblue'" icon="list" (click)="onListClicked()"></app-icon-button>
    </div>
</div>

<div class="file-grid">
    @if (gridlayout) {
    @for (file of files; track $index) {
    <app-filecard [filename]="file.name" [filetype]="file.type" [filesize]="file.size"
        [filedate]="file.date"></app-filecard>
    }
    } @else {
    <app-table
        class="table"
        [columns]="[{header: 'NAME', field: 'name'}, {header: 'TYPE', field: 'type'}, {header: 'SIZE', field: 'size'}, {header: 'DATE', field: 'date'}]"
        [data]="files"
        ></app-table>
    }
</div>

<div class="footer">
    <app-page-selector [totalItems]="100" [itemsPerPage]="10" (pageChange)="onPageChange($event)"></app-page-selector>
</div>