.header {
    display: flex;
}

.action-buttons {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.spacer {
    width: 100%;
}

.file-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer {
    padding: 5px;
}

.table {
    width: 100%;
}