<div class="dialog-backdrop">
  <div class="dialog">
    <div class="dialog-header">
      <h3>Importer un fichier</h3>
      <button class="close-button" (click)="close()">
        <img src="icons/blue/close.svg">
      </button>
    </div>
    <div class="dialog-steps">
      <div class="step step-left" [class]="currentStep == 1 ? 'active' : ''">
        Importez le fichier
      </div>
      <div class="step step-right" [class]="currentStep == 2   ? 'active' : ''">
        Ajouter les informations liées au fichier
      </div>
    </div>


    @if (currentStep == 1) {
    <div class="dialog-body">

      @if (selectedFile == undefined) {
      <div class="file-upload-area">
        <label for="file-upload" class="upload-label">
          <div>
            <img src="icons/file-upload.svg">
          </div>
          <div class="upload-text">
            <span style="text-decoration: underline;">Cliquez pour télécharger</span> ou faites glisser et déposez.<br>
            <span style="font-size: small;">Taille de fichier maximale 50 Mo.</span>
          </div>
          <input id="file-upload" type="file" (change)="onFileSelected($event)" hidden>
        </label>
      </div>
      } 
      @else {
        <div class="file-selected">
          {{selectedFile.name}} : {{fileType}}
        </div>
      }

    </div>
    <div class="dialog-footer">
      <app-icon-text-button title="Annuler" icon="close" color="white" (click)="cancel()"></app-icon-text-button>
      <app-icon-text-button title="Suivant" icon="forward" (click)="nextStep()"></app-icon-text-button>
    </div>
    }


    @else {
    <div class="dialog-body-form">
      <div>
        <app-long-input label="Description" hint="(facultatif)" [rows]="5" [(value)]="description"></app-long-input>
      </div>
      <div class="dialog-version-status">
        <app-select class="version" label="Version" [options]="['VF', 'VA']" [(value)]="version"></app-select>
        <app-select class="status" label="Status" [options]="statusOptions" [(value)]="status"></app-select>
        <!-- TODO : Replace options with dynamic list of options -->
      </div>
      <app-chips-input label="Mots-Clés" hint="(Maximum 20)" [maxKeywords]="20" [(keywords)]="keywords" [suggestions]="keywordsSuggestions" ></app-chips-input>
      <!-- // TODO : Repace with dynamic keywords -->
    </div>
    <div class="dialog-footer">
      <app-icon-text-button title="Annuler" icon="close" color="white" (click)="cancel()"></app-icon-text-button>
      <app-icon-text-button title="Précédent" icon="back" (click)="previousStep()"></app-icon-text-button>
      <app-icon-text-button title="Enregistrer" icon="add" (click)="save()"></app-icon-text-button>
    </div>
    }



  </div>
</div>