<div class="file-details-container">
    <div class="preview-section">
        <div class="preview">
            @if (displayable) {
            <img src="{{data}}"
                [style]='"transform: scale(" + currentZoom + ");  transform-origin: " + (currentZoom > 1? "0" : "50") +"% "+ (currentZoom > 1? "0" : "50")+"%;"'>
            } @else {
            <p>Aucun aperçu disponible</p>
            <button class="download-button">Télécharger</button>
            }
        </div>

        <div class="zoom">
            <app-zoom-button (onZoom)="zoomChange($event)"></app-zoom-button>
        </div>

        <div class="actions">
            <app-icon-button icon="send" color="dark" (click)="onSendByEmail()"></app-icon-button>
            <app-icon-button icon="link" color="dark" (click)="onGetLink()"></app-icon-button>
            <app-icon-button icon="download" color="dark" (click)="onDownload()"></app-icon-button>
            <app-icon-button icon="duplicate" color="dark" (click)="onDuplicate()"></app-icon-button>
        </div>

        <div class="left">
            <button class="previous" (click)="onPrevious()">
                <img src="icons/left-arrow.svg">
            </button>
        </div>

        <div class="right">
            <button class="next" (click)="onNext()">
                <img src="icons/right-arrow.svg">
            </button>
        </div>

    </div>
    <div class="details-section">

        <div class="other-actions">
            <app-icon-button icon="delete" color="white"></app-icon-button>
            <app-icon-button icon="modify" color="white" (click)="openDialog()"></app-icon-button>
            <app-icon-button icon="close" color="white" (click)="onClose()"></app-icon-button>
        </div>

        <div class="section">
            <h2>{{file.filename}}</h2>
            <div class="metadata">
                <p>Ajouté le: {{file.date}}</p>
                <p>{{type}}: 1800 Ko</p>
                <p>Images > Site web > Dossiers > TODO</p>
            </div>
        </div>
        <div class="section">
            <h3>Description</h3>
            <div class="description">
                {{file.description}}
            </div>
        </div>
        <div class="section">
            <h3>Version</h3>
            <p>{{file.version}}</p>
        </div>
        <div class="section">
            <h3>Statut</h3>
            <app-status-chip [status]="Status.fromString(file.status)" size="large"></app-status-chip>
        </div>
        <div class="section">
            <h3>Mots-clés</h3>
            <div class="keywords">
                @for (keyword of file.keywords; track $index) {
                <span class="keyword">{{keyword}}</span>
                }
            </div>
        </div>
    </div>
</div>

@if (isDialogOpen) {
    <app-modify-dialog [file]="file" (closeDialog)="isDialogOpen = false"></app-modify-dialog>
}