.file-details-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.preview-section {
  flex: 3;

  display: grid;
  grid: "top top top" auto "left middle right" auto "bot bot bot" auto / auto auto auto;
  grid-auto-flow: row dense;

  justify-items: center;
  align-items: center;

  background-color: #222124;
}

.preview {
  max-width: 100%;
  height: 500px;
  overflow: auto;

  display: flex;
  text-align: center;
  justify-content: center;

  grid-area: middle;
}

.no-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  color: var(--text-color);
  font-size: large;
}

.actions {
  grid-area: top;
  display: flex;
  align-self: start;
  gap: 10px;
  margin-top: 30px;
}

.download-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.zoom {
  grid-area: bot;
  display: flex;
  align-self: end;
  margin-bottom: 30px;
}

.left {
  grid-area: left;
  justify-self: start;
  margin-left: 30px;
}

.right {
  grid-area: right;
  justify-self: end;
  margin-right: 30px;
}

.previous,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  border: none;
  border-radius: 100%;
  padding: 8px;
}

.previous:hover,
.next:hover {
  background-color: #5a5c60;
}

.details-section {
  flex: 1;
  padding: 30px 50px;
  border-left: 1px solid #eceff1;
}

.other-actions {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-bottom: 30px;
}

.metadata {
  color: var(--grey-text);
  line-height: 0px;
  span {
    display: flex;
    gap : 8px;
    margin: 0px;;
  }
}

.section {
  margin-bottom: 30px;
  color: var(--text-color);

  h3 {
    font-size: 14px;
  }

  p,
  div {
    font-size: 14px;
  }
}

.description {
  color: var(--text-color);
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.keyword {
  border: #0b2866 1px solid;
  border-radius: 30px;
  padding: 5px;
}

video {
  width: 100%;
  height: auto;
}
