<div class="header">
  <h1>Gestion des utilisateurs</h1>
  <app-icon-text-button
    [permission]="['user_add']"
    title="Ajouter un nouvel utilisateur"
    icon="add"
    (click)="isDialogOpen = true"
  ></app-icon-text-button>
</div>

@if (isDialogOpen) {
  <app-add-user-dialog (close)="closeDialog()"></app-add-user-dialog>
}

<div class="search-area">
  <div class="search-row">
    <app-input
      class="search-element"
      label="Prénom"
      placeholder="Saisissez un prénom"
      [border]="false"
      [(value)]="firstnameSearched"
      (changed)="refreshUserList()"
    ></app-input>
    <app-input
      class="search-element"
      label="Nom"
      placeholder="Saisissez un nom"
      [border]="false"
      [(value)]="lastnameSearched"
      (changed)="refreshUserList()"
    ></app-input>
    <app-select
      class="search-element"
      label="Statut"
      [border]="false"
      [options]="['Actif', 'Inactif']"
      [(value)]="statutSearched"
      (changed)="refreshUserList()"
    >
    </app-select>
    <app-icon-button
      class="toggle-extended-search"
      icon="settings"
      (click)="isExtendedSearch = !isExtendedSearch"
    >
    </app-icon-button>
  </div>
  @if (isExtendedSearch) {
    <div class="search-row">
      <app-select
        class="search-element"
        label="Fonction"
        [border]="false"
        [options]="functions"
        [(value)]="functionSearched"
      >
      </app-select>
      <app-input
        class="search-element"
        label="Email"
        placeholder="Saisissez un email"
        [border]="false"
        [(value)]="emailSearched"
        (changed)="refreshUserList()"
      ></app-input>
      <app-select
        class="search-element"
        label="Role"
        [border]="false"
        [options]="roles"
        [(value)]="roleSearched"
      ></app-select>
      <app-icon-button icon="settings" style="visibility: hidden">
      </app-icon-button>
    </div>
  }
</div>

<div class="header">
  <h2>Liste des utilisateurs</h2>
  <div class="action-buttons">
    <app-icon-button
      color="white"
      icon="update"
      (click)="refreshUserList()"
    ></app-icon-button>
    @if (selectedUsers.size > 0) {
      <app-icon-button
        [permission]="['user_delete']"
        color="white"
        icon="delete"
        (click)="deleteUsers()"
      ></app-icon-button>
    }
  </div>
</div>

<div class="file-grid">
  <app-table
    class="table"
    [columns]="[
      { header: 'FIRSTNAME', field: 'firstname' },
      { header: 'LASTNAME', field: 'lastname' },
      { header: 'FONCTION', field: 'function' },
      { header: 'EMAIL', field: 'email' },
      { header: 'ROLE', field: 'role' },
      { header: 'STATUT', field: 'statut' },
    ]"
    [data]="users"
    [selected]="selectedUsers"
    (selectedChange)="usersSelectedList($event)"
    (rowClicked)="clickedRow($event)"
  >
  </app-table>
</div>

<div class="footer">
  <app-page-selector
    [totalItems]="numberOfElements"
    [itemsPerPage]="itemsPerPage"
    (pageChange)="onPageChange($event)"
  ></app-page-selector>
</div>
