<app-icon-button icon='card' title="Je me connecte"></app-icon-button>
<app-icon-button icon='back' title="Je me connecte"></app-icon-button>
<app-icon-button icon='close' title="Je me connecte"></app-icon-button>
<app-icon-button icon='delete' title="Je me connecte"></app-icon-button>
<app-icon-button icon='list' title="Je me connecte"></app-icon-button>
<app-icon-button icon='menu' title="Je me connecte"></app-icon-button>
<app-icon-button icon='move' title="Je me connecte"></app-icon-button>
<app-icon-button icon='update' title="Je me connecte"></app-icon-button>
<app-icon-button icon='modify' title="Je me connecte"></app-icon-button>