@if (fileDetailOpen) {
  <app-file-details
    style="position: absolute; top: 0; left: 0; bottom: 0"
    [file]="files[indexToOpen]"
    [folder]="folder"
    [typeFolder]="typeFolder"
    (closeView)="closeFileDetail()"
    (next)="nextFile()"
    (previous)="previousFile()"
  ></app-file-details>
} @else {
  <div class="header">
    <h1>{{ this.displayableFolder }} / {{ this.displayableTypeFolder }}</h1>
    <app-icon-text-button
      [permission]="[folder + '_' + typeFolder + '_' + 'import']"
      title="Importer un fichier"
      icon="upload"
      (click)="isDialogOpen = true"
    ></app-icon-text-button>
  </div>

  @if (isDialogOpen) {
    <app-upload-dialog
      [folder]="folder"
      [typeFolder]="typeFolder"
      (closeDialog)="onCloseDialog()"
    ></app-upload-dialog>
  }

  <div class="search-area">
    <div class="search-row">
      <app-input
        class="search-element"
        label="ID du fichier"
        placeholder="Saisissez l'ID du fichier"
        [border]="false"
        [(value)]="filenameSearched"
        (changed)="refreshFileList()"
      ></app-input>
      <app-dropdown-checkbox
        class="search-element"
        label="Mots-clés"
        placeholder="Sélectionnez des tags"
        [options]="keywords"
        [(value)]="keywordsSearched"
      ></app-dropdown-checkbox>
      <app-dropdown-checkbox
        class="search-element"
        label="Statut"
        placeholder="Sélectionnez un statut"
        [options]="status"
        [(value)]="statusSearched"
      ></app-dropdown-checkbox>
      <app-icon-button
        class="toggle-extended-search"
        icon="settings"
        (click)="extendedSearch = !extendedSearch"
      ></app-icon-button>
    </div>
    @if (extendedSearch) {
      <div class="search-row">
        <app-input
          class="search-element"
          label="Version du fichier"
          placeholder="Sélectionnez une version du fichier"
          [border]="false"
          [(value)]="versionSearched"
          (changed)="refreshFileList()"
        ></app-input>
        <app-dropdown-checkbox
          class="search-element"
          label="Type du fichier"
          placeholder="Sélectionnez le type du fichier"
          [options]="types"
          [(value)]="typeSearched"
        ></app-dropdown-checkbox>
        <app-date-input
          class="search-element"
          label="Plage de dates"
          [(value)]="dateSearched"
        ></app-date-input>
        <app-icon-button
          style="visibility: hidden"
          icon="settings"
        ></app-icon-button>
      </div>
    }
  </div>

  <div class="header">
    <h2>{{ viewtitle }}</h2>
    <div class="action-buttons">
      @if (selectedFiles.size > 0) {
        <app-icon-button
          [permission]="[folder + '_' + typeFolder + '_' + 'delete']"
          color="white"
          icon="delete"
          (click)="onDeleteClicked()"
        ></app-icon-button>
        <app-icon-menu-button icon="menu">
          <button
            [permission]="[folder + '_' + typeFolder + '_' + 'duplicate']"
            class="white external"
            (click)="onDuplicate()"
          >
            <img class="external" src="icons/blue/duplicate.svg" />
            <span>Dupliquer</span>
          </button>
          <button
            [permission]="[folder + '_' + typeFolder + '_' + 'download']"
            class="white external"
            (click)="onDownload()"
          >
            <img class="external" src="icons/blue/download.svg" />
            <span>Télécharger</span>
          </button>
          <button
            [permission]="[folder + '_' + typeFolder + '_' + 'share']"
            class="white external"
            (click)="onShare()"
          >
            <img class="external" src="icons/blue/send.svg" />
            <span>Partager par e-mail</span>
          </button>
        </app-icon-menu-button>
        <div class="vertical-separator"></div>
      }
      <app-icon-button
        color="white"
        icon="update"
        (click)="refreshFileList()"
      ></app-icon-button>
      <app-icon-button
        color="white"
        [icon]="buttonMultiSelect === 'Empty' ? 'checkbox' : 'full-checkbox'"
        (click)="onSelectClick()"
      ></app-icon-button>
      <app-icon-button
        [color]="gridlayout ? 'clearblue' : 'white'"
        icon="card"
        (click)="onGridClicked()"
      ></app-icon-button>
      <app-icon-button
        [color]="gridlayout ? 'white' : 'clearblue'"
        icon="list"
        (click)="onListClicked()"
      ></app-icon-button>
    </div>
  </div>

  <div class="file-grid">
    @if (gridlayout) {
      @for (file of files; track $index) {
        <app-filecard
          [file]="file"
          [fileChecked]="selectedFiles.has($index)"
          (fileCheckedChange)="fileSelected($index)"
          (fileClicked)="fileClicked($index)"
        ></app-filecard>
      }
    } @else {
      <app-table
        class="table"
        [columns]="[
          { header: '', field: 'thumbnail', image: true },
          { header: 'NAME', field: 'filename' },
          { header: 'DATE', field: 'date' },
          { header: 'STATUT', field: 'status' },
          { header: 'TYPE', field: 'type' },
          { header: 'POIDS', field: 'printableSize' },
        ]"
        [data]="files"
        [selected]="selectedFiles"
        (selectedChange)="fileSelectedList($event)"
      >
      </app-table>
    }
  </div>

  <div class="footer">
    <app-page-selector
      [totalItems]="numberOfElements"
      [itemsPerPage]="itemsPerPage"
      [page]="currentPage"
      (pageChange)="onPageChange($event)"
    ></app-page-selector>
  </div>
}
