.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.action-buttons {
  display: flex;
  column-gap: 10px;
}

.vertical-separator {
  width: 1px;
  background-color: #d7e3fc;
  height: 24px;
  align-self: center;
}

.file-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer {
  padding: 5px;
}

.table {
  width: 100%;
}

.search-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-row {
  display: flex;
  gap: 10px;
}

.search-element {
  flex: 1;
}

.toggle-extended-search {
  align-self: flex-end;
}