<div class="top">
  <H1>Bonjour, Hassania</H1>
  <app-search-bar></app-search-bar>
</div>


<div class="grid">
  <app-small-card class="elem1" [value]="images" description="Nouvelles images" icon="image"></app-small-card>
  <app-small-card class="elem2" [value]="videos" description="Nouvelles vidéos" icon="video"></app-small-card>
  <app-small-card class="elem3" [value]="pictos" description="Nouveaux pictos" icon="picto"></app-small-card>
  <app-small-card class="elem4" [value]="docs" description="Nouveaux documents" icon="doc"></app-small-card>
  <app-files-state class="elem5"></app-files-state>
  <div class="elem6">
    <img src="/icons/home/placeholder.svg" alt="">
  </div>
</div>