<div class="file-card" (click)="onCardClicked()">
    <div class="file-card-header">
        <input type="checkbox" [(checked)]="isChecked"/>
    </div>
    <div class="file-card-body">
        <div class="file-icon">
            <img> <!-- TODO Add img -->
        </div>
    </div>
    <div class="file-card-footer">
        <div class="file-card-footer-left">
            <span class="primary">{{filename}}</span>
            <span class="secondary">{{filetype}} - {{filesize}}</span>
        </div>
        <div class="file-card-footer-left">
            <span class="primary status archived">{{filestatus}}</span> <!-- TODO : Separate component -->
            <span class="secondary">{{filedate}}</span>
        </div>
    </div>
</div>