<div class="input-container">
    <label>{{ label }} <span>{{hint}}</span></label>
    @if (disabled) {
    <select [class]="border ? 'input-border disabled' : 'no-border disabled'" [formControl]="value">
        @for (item of options; track $index) {
        <option>{{item}}</option>
        }
    </select>
    }
    @else
    {<select [class]="border ? 'input-border' : 'no-border'" [formControl]="value" (click)="onInput($event)"
        [attr.aria-label]="label">
        @for (item of options; track $index) {
        <option>{{item}}</option>
        }
    </select>}
    <app-error-message [form]="value"></app-error-message>
</div>