.mybutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
  
    /* Bleu électrique */
    background: var(--primary);
  
    border-radius: 5px;
    border-width: 0;
    color: white;
  }
  
  .mybutton:hover {
    background: var(--primary);
    box-shadow: 1px 1px var(--primary-accent);
  }
  
  .mybutton:active {
    background: var(--primary-accent);
  }
  
  .myicon {
    fill: white;
  }
  