.myicon {
  fill: white;
  padding-right: 1em;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  border-width: 0;
}

.blue {
  /* Bleu électrique */
  background: var(--primary);
  color: white;
}

.blue:hover {
  background: var(--primary);
  box-shadow: 1px 1px var(--primary-accent);
}

.blue:active {
  background: var(--primary-accent);
}

.white {
  background: white;
  color: var(--text-color);
}

.white:hover {
  background: var(--secondary);
  box-shadow: 1px 1px var(--secondary-accent);
}

.white:active {
  background: var(--secondary-accent);
}

.clearblue {
  background: var(--secondary);
  color: var(--text-color);
}

.clearblue:hover {
  background: white;
  box-shadow: 1px 1px gray;
}

.clearblue:active {
  background: gray;
}
