<div>
    <button [class]="color" [disabled]="disabled" (click)="openMenu()">
        <img [class]="color" [src]="'icons/' + ((color == 'blue') ? 'white/' : 'blue/') + icon + '.svg'" />
    </button>

    @if (menuOpened) {
    <div class="menu">
        @for (button of buttonsLabels; track $index) {
        <button class="white" (click)="onMenuButtonClicked($index)">
            <img [src]="getIconPath($index)" />
            <span>{{button}}</span>
        </button>
        }
    </div>
    }
</div>