:host ::ng-deep button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  border-width: 0;
}

:host ::ng-deep button.blue {
  /* Bleu électrique */
  background: var(--primary);
  color: white;
}

:host ::ng-deep button.blue:hover {
  background: var(--primary);
  box-shadow: 1px 1px var(--primary-accent);
}

:host ::ng-deep button.blue:active {
  background: var(--primary-accent);
}

:host ::ng-deep button.white {
  background: white;
  color: var(--text-color);
}

:host ::ng-deep button.white:hover {
  background: var(--secondary);
  box-shadow: 1px 1px var(--secondary-accent);
}

:host ::ng-deep button.white:active {
  background: var(--secondary-accent);
}

:host ::ng-deep button.clearblue {
  background: var(--secondary);
  color: var(--text-color);
}

:host ::ng-deep button.clearblue:hover {
  background: white;
  box-shadow: 1px 1px gray;
}

:host ::ng-deep button.clearblue:active {
  background: gray;
}

.menu {
  position: absolute;
  margin-top: 6px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  button {
    justify-content: flex-start;
    width: 100%;
    border-radius: 0px;
    img {
      margin-right: 5px;
    }
  }
}

:host ::ng-deep button.external {
  justify-content: flex-start;
  width: 100%;
  border-radius: 0px;
}

:host ::ng-deep img.external {
  margin-right: 5px;
}