/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Roboto", Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #0b2866;
}

/* Declaring color constants */
:root {
  background-color: #ebf1fd;

  --primary: #105dfb;
  --primary-accent: #0f4fd0;

  --secondary: #d7e3fc;
  --secondary-accent: #99b7f8;

  --text-color: #0b2866;
  --grey-text: #8D9CAD;
}
