<div class="file-card" (click)="onCardClicked()">
    <div class="file-card-body">
        <div class="file-image-container">
            @if (file?.thumbnail != null) {
                <img class="file-thumbnail" src="{{file?.thumbnail}}">
            } @else {
                <img class="file-icon" src="/icons/file.svg">
            }
        </div>
        <div class="file-card-header">
            <input type="checkbox" [(checked)]="isChecked"/>
        </div>
    </div>
    <div class="file-card-footer">
        <div class="file-card-footer-left">
            <span class="primary">{{file?.filename}}</span>
            <span class="secondary">{{file?.type}} - {{file?.size}}</span>
        </div>
        <div class="file-card-footer-left">
            <span class="primary status archived">{{file?.status}}</span> <!-- TODO : Separate component -->
            <span class="secondary">{{file?.date}}</span>
        </div>
    </div>
</div>